@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/Montserrat-ExtraLight.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/Raleway-ExtraBold.ttf);
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.header {
  background-color: #363636;
}
.header-wrapper {
  display: flex;
  position: absolute;
  z-index: 1;
  padding: 40px 0 0;
  margin: 0 auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 61%;
  height: 5%;
}
.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 181px;
  text-decoration: none;
}
.header-logo:hover > svg,
.header-logo:hover > span {
  fill: #c7b299;
  color: #c7b299;
}
.header-logo:active > svg,
.header-logo:active > span {
  fill: #5151ca;
  color: #5151ca;
}
.header-logo-svg {
  fill: #ffffff;
  transition: 1s;
}
.header-logo-svg:hover {
  transform: rotate(360deg);
}
.header-logo-txt {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  color: #ffffff;
  text-align: right;
  letter-spacing: -0.04em;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  list-style-type: none;
  margin: 0 0 0 219px;
  padding: 0;
}
.header-item {
  margin: 0 30px 0 0;
}
.header-item:last-child {
  margin: 0;
}
.header-link {
  text-decoration: none;
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
}
.header-link:hover {
  color: #c7b299;
}
.header-link:active {
  color: #5151ca;
}
.header-shop {
  display: flex;
  align-items: center;
  margin: 0 0 0 63px;
  fill: #ffffff;
}
.header-shop:hover {
  fill: #c7b299;
}
.header-shop:active {
  fill: #5151ca;
}
.header-search {
  display: flex;
  align-items: center;
  margin: 0 0 0 28px;
  position: relative;
}
.header input[type="search"] {
  width: 0;
  height: 0;
  background-color: transparent;
  outline: none;
  border: none;
  position: absolute;
  left: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
.header input[type="search"]:focus {
  width: 150px;
  min-height: 20px;
  transition: width 1s ease;
  border: 2px solid #fff;
  background-color: white;
}
input[type="search"]:focus ~ .header-search-label > .header-search-svg {
  fill: aqua;
}
.header-search-label {
  display: flex;
  align-items: flex-end;
}
.header-search-label:hover .header-search-svg {
  fill: #c7b299;
}
.header-search-label:active .header-search-svg {
  fill: #5151ca;
}
.header-search-svg {
  fill: #ffffff;
}
.slider {
  overflow: hidden;
  position: relative;
}
.slider input[type="radio"] {
  display: none;
}
.slider-content {
  display: flex;
  width: 500%;
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  height: 100vh;
  max-height: 1080px;
}
.slider .slides {
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slider .slide-one {
  background-image: url(../img/slider-bg.jpg);
}
.slider .slide-two {
  background-image: url(../img/slide2-trees-img.jpg);
}
.slider .slide-two::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}
.slider .slide-three {
  background-image: url(../img/slide3-snowflake-img.jpg);
}
.slider .slide-four {
  background-image: url(../img/slide4-sakura-img.jpg);
}
.slider .slide-four::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}
.slider .slide-five {
  background-image: url(../img/slide5-night-img.jpg);
}
.slider-text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  margin: auto;
  width: 37%;
  height: 26%;
}
.slider-top-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  font-size: 36px;
  margin: 0 0 14px;
  display: block;
}
.slider-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  color: #ffffff;
  font-size: 52px;
  margin: 0 0 19px;
  text-align: center;
}
.slider-main-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  margin: 0 0 32px;
  text-align: center;
}
.slider-button {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  background: #998675;
  padding: 21px 38px;
  border-radius: 3px;
  margin: 20px 0 0;
  display: inline-block;
}
.slider-button:hover {
  background-color: lightgray;
  transition: background-color 0.2s linear;
}
.slider-button:active {
  background-color: #5151ca;
}
.slider-arrows label:after {
  content: "";
  display: none;
  width: 52px;
  height: 52px;
  border-top: 2px solid #d3c1ad;
  border-right: 2px solid #d3c1ad;
  transform: rotate(45deg);
  margin: auto;
  position: absolute;
  top: 0;
  right: 8%;
  bottom: 0;
}
.slider-arrows label:hover:after {
  border-top: 2px solid grey;
  border-right: 2px solid grey;
}
.slider-arrows label:active:after {
  border-top: 2px solid #5151ca;
  border-right: 2px solid #5151ca;
}
.slider-arrows label:before {
  content: "";
  display: none;
  width: 52px;
  height: 52px;
  border-bottom: 2px solid #d3c1ad;
  border-left: 2px solid #d3c1ad;
  transform: rotate(45deg);
  margin: auto;
  position: absolute;
  top: 0;
  left: 8%;
  bottom: 0;
}
.slider-arrows label:hover::before {
  border-bottom: 2px solid grey;
  border-left: 2px solid grey;
}
.slider-arrows label:active::before {
  border-bottom: 2px solid #5151ca;
  border-left: 2px solid #5151ca;
}
.slider .slide1:checked ~ .slider-arrows label:nth-child(5)::before,
.slider .slide2:checked ~ .slider-arrows label:nth-child(1)::before,
.slider .slide3:checked ~ .slider-arrows label:nth-child(2)::before,
.slider .slide4:checked ~ .slider-arrows label:nth-child(3)::before,
.slider .slide5:checked ~ .slider-arrows label:nth-child(4)::before {
  display: inline-block;
}
.slider .slide1:checked ~ .slider-arrows label:nth-child(2)::after,
.slider .slide2:checked ~ .slider-arrows label:nth-child(3)::after,
.slider .slide3:checked ~ .slider-arrows label:nth-child(4)::after,
.slider .slide4:checked ~ .slider-arrows label:nth-child(5)::after,
.slider .slide5:checked ~ .slider-arrows label:nth-child(1)::after {
  display: inline-block;
}
.slider-bullets {
  position: absolute;
  bottom: 42px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
}
.slider-bullets label {
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background-color: #ccc;
  margin: 0 10px;
  position: relative;
  cursor: pointer;
}
.slider-bullets label:after {
  border: 3px solid #c7b299;
  content: " ";
  display: none;
  height: 15px;
  width: 15px;
  left: -5px;
  top: -5px;
  position: absolute;
  border-radius: 50%;
}
.slider-bullets:active label {
  outline: none;
}
.slide1:checked ~ .slider-bullets label:nth-child(1),
.slide2:checked ~ .slider-bullets label:nth-child(2),
.slide3:checked ~ .slider-bullets label:nth-child(3),
.slide4:checked ~ .slider-bullets label:nth-child(4),
.slide5:checked ~ .slider-bullets label:nth-child(5) {
  transition: 0.5s;
  background-color: transparent;
}
.slide1:checked ~ .slider-bullets label:nth-child(1)::after,
.slide2:checked ~ .slider-bullets label:nth-child(2)::after,
.slide3:checked ~ .slider-bullets label:nth-child(3)::after,
.slide4:checked ~ .slider-bullets label:nth-child(4)::after,
.slide5:checked ~ .slider-bullets label:nth-child(5)::after {
  display: block;
}
.slide1:checked ~ .slider-content {
  margin-left: 0;
}
.slide2:checked ~ .slider-content {
  margin-left: -100%;
}
.slide3:checked ~ .slider-content {
  margin-left: -200%;
}
.slide4:checked ~ .slider-content {
  margin-left: -300%;
}
.slide5:checked ~ .slider-content {
  margin-left: -400%;
}
.sections {
  padding: 80px 0 108px;
}
.sections-list {
  margin: 0 auto;
  padding: 0;
  display: flex;
  list-style-type: none;
  width: 61%;
  justify-content: space-between;
}
.sections-item {
  width: 23.3%;
}
.sections-item:last-child {
  margin: 0;
}
.sections-link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  margin: 0;
}
.sections-link::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%, 0);
}
.sections-link:hover svg {
  fill: #c7b299;
}
.sections-link:active svg {
  fill: #5151ca;
}
.sections-link:hover h2 {
  color: #c7b299;
}
.sections-link:active h2 {
  color: #5151ca;
}
.sections-link:hover:after {
  background-color: #c7b299;
}
.sections-link:active:after {
  background-color: #5151ca;
}
.sections-item-svg {
  fill: #555555;
  min-height: 49px;
}
.sections-item-header {
  text-align: center;
  margin: 30px 0 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #555555;
}
.sections-text {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #8c8c8c;
  line-height: 24px;
  margin: 24px 0 0;
}
.ideas {
  background-color: #fbfaf8;
  padding: 83px 0 0;
}
.ideas-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #555555;
  text-align: center;
  margin: 0;
}
.ideas-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #8c8c8c;
  text-align: center;
  line-height: 28px;
  margin: 24px auto 0;
  width: 40.6%;
}
.ideas-multi-bg {
  margin: 40px auto 0;
  width: 64%;
  min-height: 482px;
  background-image: url(../img/ideas-center.jpg), url(../img/ideas-left.jpg), url(../img/ideas-right.jpg);
  min-width: 1204px;
  background-repeat: no-repeat;
  background-position: bottom center, bottom left, bottom right;
}
.aside {
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  padding: 48px 0;
}
.aside-wrapper {
  width: 61%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.aside-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  color: #ffffff;
  margin: 0 0 8px;
}
.aside-waxom-style {
  color: #c7b299;
}
.aside-text {
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #615855;
}
.aside-link {
  display: inline-block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  line-height: 23px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #998675;
  padding: 19px 29px;
  border-radius: 3px;
}
.aside-link:hover {
  color: black;
}
.aside-link:active {
  color: #fff;
  background-color: #8c8c8c;
}
.projects {
  padding: 81px 0 80px;
}
.projects-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #555555;
  text-align: center;
  margin: 0;
}
.projects-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #8c8c8c;
  text-align: center;
  line-height: 28px;
  margin: 24px auto 0;
  width: 41%;
}
.projects-list-one {
  list-style-type: none;
  margin: 40px 0 0 0;
  display: flex;
  justify-content: center;
  padding: 0;
}
.projects-list-one-item {
  margin: 0 10px 0 0;
}
.projects-list-one-item:last-child {
  margin: 0;
}
.projects-list-button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #8c8c8c;
  text-align: center;
  line-height: 21px;
  padding: 5px 24px;
  border: 1px solid #ebebeb;
  background-color: #fff;
  border-radius: 3px;
}
.projects-list-button:hover {
  color: #fff;
  background-color: #c7b299;
}
.projects-list-button:active {
  background-color: lightgray;
}
.projects-list-button:focus {
  outline: 0px;
}
.projects-list-two {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 42px auto 0;
  padding: 0;
  width: 61%;
  justify-content: space-between;
}
.projects-list-two-item {
  margin: 0 0 30px 0;
  position: relative;
}
.projects-list-two-item:hover img {
  filter: brightness(50%);
}
.projects-list-two-item:hover .projects-text-wrapper {
  background-color: #362f2d;
}
.projects-list-two-item:hover h3 {
  color: #ffffff;
}
.projects-list-two-item:hover p {
  color: #c7b299;
}
.projects-list-two-item:hover .projects-text-wrapper::before {
  border-bottom: 10px solid #362f2d;
}
.projects-list-two-item:hover .projects-button {
  display: block;
  fill: #fff;
}
.projects-img {
  display: block;
  width: 100%;
  position: relative;
}
.projects-text-wrapper {
  background-color: #fbfaf8;
  position: relative;
}
.projects-text-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  border: 15px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  top: -25px;
  left: 19px;
}
.projects-card-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #c7b299;
  padding: 30px 0 0 27px;
  margin: 0;
}
.projects-card-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #d1d1d1;
  line-height: 20px;
  padding: 12px 0 27px 27px;
  margin: 0;
}
.projects-button {
  display: none;
  position: absolute;
  top: 106px;
}
.projects-button:hover svg {
  fill: #c7b299;
}
.projects-button:active svg {
  fill: #5151ca;
}
.projects .link {
  left: 145px;
}
.projects .search {
  right: 145px;
}
.projects-more-button {
  margin: 40px 0 0;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #998675;
  outline: none;
  text-transform: uppercase;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  line-height: 23px;
  padding: 19px 45px;
  border: none;
  border-radius: 3px;
}
.projects-more-button:hover {
  color: black;
}
.projects-more-button:active {
  color: #fff;
  background-color: lightgrey;
}
.bg-video {
  position: relative;
}
.bg-video-item {
  object-fit: cover;
}
.bg-video-text-wrapper {
  position: absolute;
  top: 45%;
  display: block;
  left: 0;
  right: 0;
  margin: auto;
  width: 30%;
}
.bg-video-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  margin: 0;
}
.bg-video-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  line-height: 28px;
  margin: 20px 0 0;
}
.mobile {
  padding: 195px 0 178px 0;
  background-image: url(../img/mobile-img.png);
  background-repeat: no-repeat;
  background-position: bottom left 22%;
}
.mobile-text-wrapper {
  margin: 0 19% 0 45%;
}
.mobile-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #555555;
  margin: 0;
}
.mobile-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #8c8c8c;
  line-height: 28px;
  margin: 40px 0 0;
}
.mobile-list {
  list-style-type: none;
  padding: 0;
  margin: 26px 0 0 99px;
}
.mobile-item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #8c8c8c;
  line-height: 32px;
  position: relative;
}
.mobile-item-svg {
  position: absolute;
  display: block;
  left: -48px;
  top: 5px;
  background-color: #c7b299;
  border-radius: 22px;
  fill: #fff;
}
.counters {
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  padding: 69px 0 60px 0;
}
.counters-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 48%;
}
.counters-item {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counters-item-svg {
  fill: #c7b299;
}
.counters-number {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 48px;
  color: #ffffff;
  text-align: center;
  line-height: 36px;
  margin: 30px 0 0;
}
.counters-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #c7b299;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  margin: 21px 0 0;
}
.counters-line {
  height: 2px;
  width: 30px;
  border: none;
  background-color: #ffffff;
  margin: 24px 0 0;
}
.posts {
  padding: 82px 0 80px;
}
.posts-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #555555;
  text-align: center;
  margin: 0;
}
.posts-text {
  max-width: 769px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #8c8c8c;
  text-align: center;
  line-height: 28px;
  margin: 30px auto 0;
  width: 40%;
}
.posts-list {
  list-style-type: none;
  margin: 40px auto 0;
  padding: 0;
  display: flex;
  width: 67%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.posts-item {
  width: 370px;
}
.posts-item:last-child {
  margin: 0;
}
.posts-item:hover img {
  filter: brightness(50%);
}
.posts-item:hover .posts-text-wrapper {
  background-color: #362f2d;
}
.posts-item:hover h3 {
  color: #c7b299;
}
.posts-item:hover p {
  color: #fff;
}
.posts-img {
  display: block;
  width: 100%;
}
.posts-text-wrapper {
  padding: 30px 0 33px 27px;
  background-color: #f8f8f8;
}
.posts-card-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #555555;
  margin: 0;
}
.posts-card-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #8c8c8c;
  line-height: 22px;
  margin: 19px 0 0;
}
.posts-card-link {
  display: block;
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #c7b299;
  line-height: 20px;
  margin: 27px 0 0;
  position: relative;
}
.posts-card-link::before {
  content: "";
  display: block;
  position: absolute;
  border: 4px solid transparent;
  border-left: 5px solid #c7b299;
  left: 82px;
  bottom: 7px;
}
.posts-buttons-wrapper {
  display: flex;
  justify-content: center;
  margin: 40px 0 0;
}
.posts-button {
  display: block;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0 8px 0 0;
}
.posts-button:hover svg {
  fill: #c7b299;
}
.posts-button:active svg {
  fill: #5151ca;
}
.posts-button:focus {
  outline: none;
}
.posts-button-svg {
  fill: #d1d1d1;
}
.partners {
  background-image: url(../img/partners-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0;
}
.partners-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  margin: 0 auto;
}
.partners-link {
  display: block;
}
.partners-img:hover {
  transform: scale(1.1);
}
.footer-main-block {
  background-color: #191919;
  padding: 80px 0 70px;
}
.footer-list {
  margin: 0 375px;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.footer-item {
  max-width: 23%;
}
.footer .top-padding {
  padding: 28px 0 0;
}
.footer-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 181px;
  text-decoration: none;
}
.footer-logo:hover > svg,
.footer-logo:hover > span {
  fill: #c7b299;
  color: #c7b299;
}
.footer-logo:active > svg,
.footer-logo:active > span {
  fill: #5151ca;
  color: #5151ca;
}
.footer-logo-svg {
  fill: #ffffff;
  transition: 1s;
}
.footer-logo-txt {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  color: #ffffff;
  text-align: right;
  letter-spacing: -0.04em;
  transition: 1s;
}
.footer-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #555555;
  line-height: 24px;
  margin: 45px 0 0;
}
.footer-text:hover {
  color: #fff;
}
.footer-readmore-link {
  display: block;
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #d1d1d1;
  line-height: 20px;
  margin: 26px 0 0;
  position: relative;
}
.footer-readmore-link::before {
  content: "";
  display: block;
  position: absolute;
  border: 4px solid transparent;
  border-left: 5px solid #c7b299;
  left: 82px;
  bottom: 7px;
}
.footer-readmore-link:hover {
  color: #c7b299;
}
.footer-readmore-link:active {
  color: #5151ca;
}
.footer-column-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  display: block;
}
.footer-column-header:hover {
  color: #c7b299;
}
.footer-column-header:active {
  color: #5151ca;
}
.footer-post {
  display: block;
  text-decoration: none;
  margin: 33px 0 0;
}
.footer-post:hover time {
  color: #ffffff;
}
.footer-post:hover p {
  color: #c7b299;
}
.footer-post:active p {
  color: #5151ca;
}
.footer-lines-between {
  position: relative;
}
.footer-lines-between::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #252525;
  position: absolute;
  top: -16px;
}
.footer-lines-between::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #252525;
  position: absolute;
  bottom: -16px;
}
.footer-post-time {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #363636;
  line-height: 20px;
}
.footer-post-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #555555;
  line-height: 20px;
  margin: 10px 0 0;
}
.footer-twit-text {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 300;
  color: #555555;
  line-height: 20px;
}
.footer-nameref {
  color: #00bff3;
}
.footer-twit-time {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 300;
  color: #363636;
  line-height: 20px;
}
.footer-link-insidelink {
  display: inline-block;
  text-decoration: none;
  color: #959595;
}
.footer-widget-list {
  padding: 0;
  margin: 33px 0 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-widget-item {
  margin: 0 0 10px;
}
.footer-widget-link:hover img {
  filter: brightness(50%);
}
.footer-widget-img {
  display: block;
}
.footer-copyrights {
  padding: 45px 374px;
  background-color: #111111;
  display: flex;
  justify-content: space-between;
}
.footer-copyrights a {
  text-decoration: none;
}
.footer-copyright-left-block {
  display: flex;
}
.footer-copyright-right-block {
  display: flex;
}
.footer-copyright-text {
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: 300;
  color: #555555;
  line-height: 20px;
  margin: 0 20px 0 0;
  display: block;
}
.footer-divide-line {
  position: relative;
}
.footer-divide-line:after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  background-color: #252525;
  right: -10px;
}
.footer-brand-link {
  color: #959595;
}
.footer-brand-link:hover {
  color: #c7b299;
}
.footer-brand-link:active {
  color: #5151ca;
}
/*# sourceMappingURL=style.css.map */