@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/Montserrat-ExtraLight.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/Raleway-ExtraBold.ttf);
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.header {
  background-color: #363636;
  background-image: url(../img/slider-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1024px;
}
.header-wrapper {
  display: flex;
  padding: 40px 0 0;
}
.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 181px;
  text-decoration: none;
  margin: 0 0 0 376px;
}
.header-logo:hover > svg,
.header-logo:hover > span {
  fill: #c7b299;
  color: #c7b299;
}
.header-logo:active > svg,
.header-logo:active > span {
  fill: #5151ca;
  color: #5151ca;
}
.header-logo-svg {
  fill: #ffffff;
}
.header-logo-txt {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  color: #ffffff;
  text-align: right;
  letter-spacing: -0.04em;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  list-style-type: none;
  margin: 0 0 0 219px;
  padding: 0;
}
.header-item {
  margin: 0 30px 0 0;
}
.header-item:last-child {
  margin: 0;
}
.header-link {
  text-decoration: none;
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
}
.header-link:hover {
  color: #c7b299;
}
.header-link:active {
  color: #5151ca;
}
.header-shop {
  display: flex;
  align-items: center;
  margin: 0 0 0 63px;
  fill: #ffffff;
}
.header-shop:hover {
  fill: #c7b299;
}
.header-shop:active {
  fill: #5151ca;
}
.header-search {
  display: flex;
  align-items: center;
  margin: 0 0 0 28px;
  position: relative;
}
.header input[type="search"] {
  width: 0;
  height: 0;
  background-color: transparent;
  outline: none;
  border: none;
  position: absolute;
  left: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
.header input[type="search"]:focus {
  width: 150px;
  min-height: 20px;
  transition: width 1s ease;
  border: 2px solid #fff;
  background-color: white;
}
input[type="search"]:focus ~ .header-search-label > .header-search-svg {
  fill: aqua;
}
.header-search-label {
  display: flex;
  align-items: flex-end;
}
.header-search-label:hover .header-search-svg {
  fill: #c7b299;
}
.header-search-label:active .header-search-svg {
  fill: #5151ca;
}
.header-search-svg {
  fill: #ffffff;
}
.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 285px 0 0;
}
.slider-top-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  font-size: 36px;
  margin: 0 0 14px;
}
.slider-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  color: #ffffff;
  font-size: 52px;
  margin: 0 0 19px;
}
.slider-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  margin: 0 0 32px;
  max-width: 570px;
  text-align: center;
}
.slider-button {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  background: #998675;
  padding: 21px 38px;
  border-radius: 3px;
}
.sections .sections-list {
  margin: 80px 377px 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}
.sections-item {
  margin: 0 26px 0 0;
}
.sections-item:last-child {
  margin: 0;
}
.sections-link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  margin: 0 0 108px;
}
.sections-link::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  position: absolute;
  top: 209px;
  left: 90px;
}
.sections-link:hover svg {
  fill: #c7b299;
}
.sections-link:active svg {
  fill: #5151ca;
}
.sections-link:hover h2 {
  color: #c7b299;
}
.sections-link:active h2 {
  color: #5151ca;
}
.sections-link:hover:after {
  background-color: #c7b299;
}
.sections-link:active:after {
  background-color: #5151ca;
}
.sections-item-svg {
  fill: #555555;
  min-height: 49px;
}
.sections-item-header {
  text-align: center;
  margin: 30px 0 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #555555;
}
.sections-text {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #8c8c8c;
  line-height: 24px;
  margin: 24px 0 0;
}
.ideas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbfaf8;
}
.ideas-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #555555;
  text-align: center;
  margin: 83px 0 0;
}
.ideas-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #8c8c8c;
  text-align: center;
  line-height: 28px;
  margin: 24px 570px 0;
}
.ideas-multi-bg {
  margin: 40px 345px 0;
  min-height: 482px;
  background-image: url(../img/ideas-center.jpg), url(../img/ideas-left.jpg), url(../img/ideas-right.jpg);
  min-width: 1204px;
  background-repeat: no-repeat;
  background-position: bottom center, bottom left, bottom right;
}
.aside {
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  display: flex;
  padding: 48px 0;
}
.aside-wrapper {
  margin: 0 0 0 376px;
}
.aside-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  color: #ffffff;
  margin: 0 0 8px;
}
.aside-waxom-style {
  color: #c7b299;
}
.aside-text {
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #615855;
}
.aside-link {
  display: inline-block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  line-height: 23px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #998675;
  padding: 19px 29px;
  border-radius: 3px;
  margin: 0 0 0 470px;
}
.projects-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #555555;
  text-align: center;
  margin: 81px 0 0;
}
.projects-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #8c8c8c;
  text-align: center;
  line-height: 28px;
  margin: 24px 568px 0 581px;
}
.projects-list-one {
  list-style-type: none;
  margin: 40px 0 0 0;
  display: flex;
  justify-content: center;
  padding: 0;
}
.projects-list-one-item {
  margin: 0 10px 0 0;
}
.projects-list-one-item:last-child {
  margin: 0;
}
.projects-list-button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #8c8c8c;
  text-align: center;
  line-height: 21px;
  padding: 5px 24px;
  border: 1px solid #ebebeb;
  background-color: #fff;
  border-radius: 3px;
}
.projects-list-button:hover {
  color: #fff;
  background-color: #c7b299;
}
.projects-list-button:active {
  background-color: lightgray;
}
.projects-list-button:focus {
  outline: 0px;
}
.projects-list-two {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 42px 375px 0;
  padding: 0;
}
.projects-list-two-item {
  margin: 0 30px 30px 0;
}
.projects-list-two-item:nth-child(3) {
  margin: 0 0 10px;
}
.projects-list-two-item:nth-child(4),
.projects-list-two-item:nth-child(5) {
  margin: 0 30px 0 0;
}
.projects-list-two-item:last-child {
  margin: 0;
}
.projects-more-button {
  margin: 40px 0 0;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
/*# sourceMappingURL=style.css.map */