.bg-video {
  position: relative;

  &-item {
    height: 705px;
    width: 100%;
    object-fit: cover;
  }

  &-text-wrapper {
    position: absolute;
    top: 45%;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    width: 30%;
  }

  &-header {
    .font-mixin("Raleway", normal, 500);
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin: 0;
  }

  &-text {
    .font-mixin ("Montserrat", normal, 300);;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 28px;
    margin: 20px 0 0;
  }
}

@media (max-width: 1024px) {
  .bg-video-text-wrapper {
    width: 90%;
  }
}
