.container {
  max-width: 1920px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  background-color: rgba(54, 54, 54, 1);
  position: relative;

  &-burger-icon,
  &-burger-menu {
    display: none;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    padding: 40px 0 0;
    margin: 0 auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 66%;
    height: 5%;
  }

  &-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 181px;
    text-decoration: none;

    &:hover > svg,
    &:hover > span {
      fill: @hover-color;
      color: @hover-color;
    }

    &:active > svg,
    &:active > span {
      fill: @active-color;
      color: @active-color;
    }
  }

  &-logo-svg {
    fill: rgba(255, 255, 255, 1);
    transition: 1s;

    &:hover {
      transform: rotate(360deg);
    }
  }

  &-logo-txt {
    .font-mixin("Raleway", normal, 400);
    font-size: 34px;
    color: rgba(255, 255, 255, 1);
    text-align: right;
    letter-spacing: -0.04em;
  }

  &-nav-buttons-wrapper {
    display: flex;
    // width: 58%;
  }

  &-nav {
    display: flex;
    align-items: center;
    // width: 83%;
  }

  &-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    // width: 100%;
    padding: 0;
    margin: 0;
  }

  &-item {
    padding: 0 0 0 23px;
  }

  &-link {
    text-decoration: none;
    display: block;
    .font-mixin("Montserrat"; normal; 300);
    font-size: 14px;
    color: rgba(255, 255, 255, 1);

    &:hover {
      color: @hover-color;
    }

    &:active {
      color: @active-color;
    }
  }

  &-shop {
    display: flex;
    align-items: center;
    margin: 0 0 0 54px;
    fill: rgba(255, 255, 255, 1);
  }

  &-shop:hover {
    fill: @hover-color;
  }

  &-shop:active {
    fill: @active-color;
  }

  &-search {
    display: flex;
    align-items: center;
    margin: 0 0 0 30px;
    position: relative;
  }

  &-menu-bar {
    display: block;
    width: 32px;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    margin: 0 0 7px;
  }

  input[type="search"] {
    width: 0;
    height: 0;
    background-color: transparent;
    outline: none;
    border: none;
    position: absolute;
    left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
  }

  input[type="search"]:focus {
    width: 150px;
    min-height: 20px;
    transition: width 1s ease;
    border: 2px solid #fff;
    background-color: white;
  }

  input[type="search"]:focus ~ &-search-label > &-search-svg {
    fill: aqua;
  }

  &-search-label {
    display: flex;
    align-items: flex-end;
  }

  &-search-label:hover &-search-svg {
    fill: @hover-color;
  }

  &-search-label:active &-search-svg {
    fill: @active-color;
  }

  &-search-svg {
    fill: rgba(255, 255, 255, 1);
  }
}

.slider {
  overflow: hidden;
  position: relative;

  input[type="radio"] {
    display: none;
  }

  &-content {
    display: flex;
    width: 500%;
    transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
    height: 100vh;
    max-height: 1080px;
  }

  .slides {
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .slide-one {
    background-image: url(../img/slider-bg.jpg);
  }

  .slide-two {
    background-image: url(../img/slide2-trees-img.jpg);
  }

  .slide-two::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
  }

  .slide-three {
    background-image: url(../img/slide3-snowflake-img.jpg);
  }

  .slide-four {
    background-image: url(../img/slide4-sakura-img.jpg);
  }

  .slide-four::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
  }

  .slide-five {
    background-image: url(../img/slide5-night-img.jpg);
  }

  &-text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    margin: auto;
    width: 37%;
    height: 26%;
  }

  &-top-text {
    .font-mixin("Raleway", normal, 500);
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    margin: 0 0 14px;
    display: block;
  }

  &-header {
    .font-mixin("Raleway", normal, 600);
    color: rgba(255, 255, 255, 1);
    font-size: 52px;
    margin: 0 0 19px;
    text-align: center;
  }

  &-main-text {
    .font-mixin("Montserrat", normal, 300);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    margin: 0 0 32px;
    text-align: center;
  }

  &-button {
    text-decoration: none;
    .font-mixin("Raleway", normal, 800);
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    background: rgba(153, 134, 117, 1);
    padding: 21px 38px;
    border-radius: 3px;
    margin: 20px 0 0;
    display: inline-block;

    &:hover {
      background-color: lightgray;
      transition: background-color 0.2s linear;
    }

    &:active {
      background-color: @active-color;
    }
  }

  &-arrows label:after {
    content: "";
    display: none;
    width: 52px;
    height: 52px;
    border-top: 2px solid #d3c1ad;
    border-right: 2px solid #d3c1ad;
    transform: rotate(45deg);
    margin: auto;
    position: absolute;
    top: 0;
    right: 8%;
    bottom: 0;
  }

  &-arrows label:hover:after {
    border-top: 2px solid grey;
    border-right: 2px solid grey;
  }

  &-arrows label:active:after {
    border-top: 2px solid @active-color;
    border-right: 2px solid @active-color;
  }

  &-arrows label:before {
    content: "";
    display: none;
    width: 52px;
    height: 52px;
    border-bottom: 2px solid #d3c1ad;
    border-left: 2px solid #d3c1ad;
    transform: rotate(45deg);
    margin: auto;
    position: absolute;
    top: 0;
    left: 8%;
    bottom: 0;
  }

  &-arrows label:hover::before {
    border-bottom: 2px solid grey;
    border-left: 2px solid grey;
  }

  &-arrows label:active::before {
    border-bottom: 2px solid @active-color;
    border-left: 2px solid @active-color;
  }

  .slide1:checked ~ .slider-arrows label:nth-child(5)::before,
  .slide2:checked ~ .slider-arrows label:nth-child(1)::before,
  .slide3:checked ~ .slider-arrows label:nth-child(2)::before,
  .slide4:checked ~ .slider-arrows label:nth-child(3)::before,
  .slide5:checked ~ .slider-arrows label:nth-child(4)::before {
    display: inline-block;
  }

  .slide1:checked ~ .slider-arrows label:nth-child(2)::after,
  .slide2:checked ~ .slider-arrows label:nth-child(3)::after,
  .slide3:checked ~ .slider-arrows label:nth-child(4)::after,
  .slide4:checked ~ .slider-arrows label:nth-child(5)::after,
  .slide5:checked ~ .slider-arrows label:nth-child(1)::after {
    display: inline-block;
  }

  &-bullets {
    position: absolute;
    bottom: 42px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
  }

  &-bullets label {
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 100%;
    background-color: #ccc;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
  }

  &-bullets label:after {
    border: 3px solid @hover-color;
    content: " ";
    display: none;
    height: 15px;
    width: 15px;
    left: -5px;
    top: -5px;
    position: absolute;
    border-radius: 50%;
  }

  &-bullets:active label {
    outline: none;
  }
}

.slide1:checked ~ .slider-bullets label:nth-child(1),
.slide2:checked ~ .slider-bullets label:nth-child(2),
.slide3:checked ~ .slider-bullets label:nth-child(3),
.slide4:checked ~ .slider-bullets label:nth-child(4),
.slide5:checked ~ .slider-bullets label:nth-child(5) {
  transition: 0.5s;
  background-color: transparent;
}

.slide1:checked ~ .slider-bullets label:nth-child(1)::after,
.slide2:checked ~ .slider-bullets label:nth-child(2)::after,
.slide3:checked ~ .slider-bullets label:nth-child(3)::after,
.slide4:checked ~ .slider-bullets label:nth-child(4)::after,
.slide5:checked ~ .slider-bullets label:nth-child(5)::after {
  display: block;
}

.slide1:checked ~ .slider-content {
  margin-left: 0;
}
.slide2:checked ~ .slider-content {
  margin-left: -100%;
}
.slide3:checked ~ .slider-content {
  margin-left: -200%;
}
.slide4:checked ~ .slider-content {
  margin-left: -300%;
}
.slide5:checked ~ .slider-content {
  margin-left: -400%;
}

@media (max-width: 1024px) {
  .header-wrapper {
    width: 90%;
  }

  .slider-text-wrapper {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .container {
    overflow: hidden;
  }

  .header-nav-buttons-wrapper {
    display: none;
  }

  .header-burger-label {
    z-index: 2;
  }

  .header-burger-icon {
    display: block;
  }

  .header-burger-menu {
    display: block;
    position: absolute;
    top: 0;
    right: -38px;
    height: 100vh;
    width: 40vw;
    box-sizing: border-box;
    background: linear-gradient(to right, #606c88, #3f4c6b);
    padding: 100px 0 0;
    transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    z-index: 1;
  }

  .header-burger-list {
    list-style-type: none;
  }

  .header-burger-item {
    padding-bottom: 30px;
    .font-mixin("Raleway", normal, 500);
    font-size: 30px;
  }

  .header-burger-link {
    text-decoration: none;
    color: #fff;
  }

  input[type="checkbox"]:checked ~ .header-burger-menu {
    right: -100%;
  }
}

@media (max-width: 425px) {
  .container {
    overflow: visible;
  }

  .header {
    padding: 10px 0;

    &-wrapper {
      position: static;
      padding: 0;
      margin: 0;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }

    &-logo-svg:hover {
      transform: none;
    }
  }

  .slider {
    display: none;
  }

  .header-burger-menu {
    top: 0;
    right: 0;
    height: auto;
    width: 100%;
    background: linear-gradient(to right, #606c88, #3f4c6b);
    z-index: 1;
  }

  input[type="checkbox"]:checked ~ .header-burger-menu {
    top: -1000%;
    right: 0;
  }
}
