.ideas {
  background-color: rgba(251, 250, 248, 1);
  padding: 83px 0 0;

  &-header {
    .font-mixin("Raleway", normal, 600);
    font-size: 30px;
    color: rgba(85, 85, 85, 1);
    text-align: center;
    margin: 0;
  }

  &-text {
    .font-mixin("Montserrat", normal, 300);
    font-size: 16px;
    color: rgba(140, 140, 140, 1);
    text-align: center;
    line-height: 28px;
    margin: 24px auto 0;
    width: 41%;
  }

  &-windows-img {
    display: block;
    width: 64%;
    object-fit: contain;
    margin: 40px auto 0;
  }
}

@media (max-width: 1024px) {
  .ideas-windows-img {
    width: 90%;
  }
}

@media (max-width: 425px) {
  .ideas {
    padding: 50px 0;

    &-header {
      width: 60%;
      margin: 0 auto;
    }

    &-text {
      width: 90%;
    }

    &-windows-img {
      display: none;
    }
  }
}
