.partners {
  background-image: url(../img/partners-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 405px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-link {
    display: block;
  }

  &-img:hover {
    transform: scale(1.1);
  }
}
