.projects {
  padding: 81px 0 80px;

  &-header {
    .font-mixin("Raleway", normal, 600);
    font-size: 30px;
    color: rgba(85, 85, 85, 1);
    text-align: center;
    margin: 0;
  }

  &-text {
    .font-mixin("Montserrat", normal, 300);
    font-size: 16px;
    color: rgba(140, 140, 140, 1);
    text-align: center;
    line-height: 28px;
    margin: 24px auto 0;
    width: 41%;
  }

  &-list-one {
    list-style-type: none;
    margin: 40px 0 0 0;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  &-list-one-item {
    margin: 0 10px 0 0;
  }

  &-list-one-item:last-child {
    margin: 0;
  }

  &-list-button {
    .font-mixin("Montserrat", normal, 300);
    font-size: 14px;
    color: rgba(140, 140, 140, 1);
    text-align: center;
    line-height: 21px;
    padding: 5px 24px;
    border: 1px solid rgba(235, 235, 235, 1);
    background-color: #fff;
    border-radius: 3px;

    &:hover {
      color: #fff;
      background-color: @hover-color;
    }

    &:active {
      background-color: lightgray;
    }

    &:focus {
      outline: 0px;
    }
  }

  &-list-two {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 42px auto 0;
    padding: 0;
    max-width: 1170px;
    justify-content: space-between;
  }

  &-list-two-item {
    margin: 0 0 30px 0;
    position: relative;

    &:hover img {
      filter: brightness(50%);
    }

    &:hover .projects-text-wrapper {
      background-color: rgba(54, 47, 45, 1);
    }

    &:hover h3 {
      color: rgba(255, 255, 255, 1);
    }

    &:hover p {
      color: @hover-color;
    }

    &:hover .projects-text-wrapper::before {
      border-bottom: 10px solid rgba(54, 47, 45, 1);
    }

    &:hover .projects-button {
      display: block;
      fill: #fff;
    }
  }

  &-img {
    display: block;
    width: 100%;
    position: relative;
    object-fit: cover;
  }

  &-text-wrapper {
    background-color: rgba(251, 250, 248, 1);
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      border: 15px solid transparent;
      border-bottom: 10px solid rgba(251, 250, 248, 1);
      top: -25px;
      left: 19px;
    }
  }

  &-card-header {
    .font-mixin("Raleway", normal, 500);
    font-size: 20px;
    color: rgba(199, 178, 153, 1);
    padding: 30px 0 0 27px;
    margin: 0;
  }

  &-card-text {
    .font-mixin("Montserrat", normal, 300);
    font-size: 14px;
    color: rgba(209, 209, 209, 1);
    line-height: 20px;
    padding: 12px 0 27px 27px;
    margin: 0;
  }

  &-button {
    display: none;
    position: absolute;
    top: 106px;

    &:hover svg {
      fill: @hover-color;
    }

    &:active svg {
      fill: @active-color;
    }
  }

  .link {
    left: 40%;
  }

  .search {
    right: 40%;
  }

  &-more-button {
    margin: 40px 0 0;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(153, 134, 117, 1);
    outline: none;
    text-transform: uppercase;
    .font-mixin("Raleway", normal, 800);
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 23px;
    padding: 19px 45px;
    border: none;
    border-radius: 3px;

    &:hover {
      color: black;
    }

    &:active {
      color: #fff;
      background-color: lightgrey;
    }
  }
}

@media (max-width: 1024px) {
  .projects-list-two {
    justify-content: space-evenly;
  }
}

@media (max-width: 425px) {
  .projects {
    padding: 50px 0;

    &-text {
      width: 90%;
    }

    &-list-one {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &-list-one-item {
      margin: 0 0 10px;
    }

    &-list-two {
      width: 90%;
      justify-content: center;
    }
  }
}
